*{
    margin: 0;
    padding: 0;
}

body {
  background: var(--navy);
  color: var(--cream);
  font-family: poppins, sans-serif;
  
}

nav {
  background: var(--charcoal);
  padding: 1rem 2rem;
}
ul li {
    display: inline;
    margin-right: 20px;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    border: 0;

}
.main.headar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #eaeaea;

}
.logo{
    font-size:  1.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}

nav a {
  color: var(--cream);
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
    
}
nav a:hover{
    color: gold;
    border-bottom: 2px solid goldenrod;
}
html{
    scroll-behavior: smooth;
}
.hero {
  background: linear-gradient(90deg, var(--navy), var(--charcoal));
  color: var(--cream);
  padding: 120px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: var(--gold);
}

:root {
  --gold: #D4AF37;
  --navy: #0A1A2F;
  --charcoal: #2C2C2C;
  --warm-brown: #4B3A2A;
  --cream: #F4F0E6;
  --white: #FFFFFF;
}
button {
  background-color: var(--gold);
  color: var(--navy);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--cream);
  color: var(--charcoal);
}
 .slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
 }
 figure{
    position: relative;
    left: 0;

 }
 .slide{
    position: relative;
    width: 25%;
    float: left;
   
 } 
 .slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color : var(--white);
    text-shadow: 1px 1px 2px black;
 }
 .slide img{
    width: 100%;
    height: 500px;
 }