nav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
}
ul li {
    display: inline;
    margin-right: 20px;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    background-color: black;
    position: fixed;
}